<h2 class="center-align">Programa 3</h2>

<div class="container z-depth-1">
	<br>
	<div class="container">

		<div class="row center-align">
			<div class="">
				<b>DATOS</b>
				<br>
				<a class="waves-effect waves-light btn  indigo" ngf-select="vm.getStatistics($file)" >Seleccionar datos <i class="material-icons right">storage</i></a>
				<br>
			</div>
	</div>
	<br>
	<div class="container" ng-if="vm.mensajeError">
		<p>
			{{vm.mensajeError}}
		</p>
	</div>
	<div class="container" ng-if="vm.respuesta">
		<p>
			{{vm.respuesta}}
		</p>
	</div>
	<div class="container" ng-if="vm.ranges">
		<div class="card-panel z-depth-1">
			<table class="striped center-align">
				<thead>
					<tr>
						<th class="center-align" data-field="vs">Very Small</th>
						<th class="center-align" data-field="small">Small</th>
						<th class="center-align" data-field="medium">Medium</th>
						<th class="center-align" data-field="larg">Large</th>
						<th class="center-align" data-field="vl">Very Large</th>
					</tr>
				</thead>

				<tbody>
					<tr class="center-align">
						<td class="center-align">Alvin</td>
						<td class="center-align">Eclair</td>
						<td class="center-align">$0.87</td>
						<td class="center-align">$0.87</td>
						<td class="center-align">$0.87</td>
					</tr>

				</tbody>
			</table>
		</div>
			<br>
	</div>
</div>
